.author-profile__articles-header {
    font-size: 2rem;
    color: var(--color-primary-dark);
  }
  .author-profile__catchphrase {
    margin-top: 1rem;
    color: var(--color-grey);
  }
  .author-profile__articles {
    width: 100%;
  }
  .author-profile__about-me {
    margin-top: 1rem;
    font-family: var( --font-family-to-read);
    line-height: var(--font-semi-header);
    color: var(--primary-dark);
    margin-bottom: 1rem;
  }
  .author-profile__social-networks-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .author-profile__social-networks {
    display: flex;
    margin-bottom: 1rem;
  }
  .author-profile {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .author-profile__image {
    appearance: none;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    flex-shrink: 0;
  }
  
  .author-profile__name {
    margin-bottom: 0rem;
    color: var(--color-primary-dark);
    display: flex;
    align-items: center;
  }

  @media (max-width: 767px) {
    .author-profile__catchphrase {
      text-align: center;
      width: 100%;
    }
  }
.social-network__name {
  margin-top: 1rem;
  text-align: center;
}
.social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.social-network__image {
  height: 3.5rem;
}
.social-network__image--linkedin {
  margin-right: -0.5rem;
}

.author-profile__draft-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-dark);
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-x);
  margin-top: 2rem;
}