.categories-listing {
    font-family: var(--font-family-to-read);
    line-height: var(--font-semi-header);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listed-category {
    width: fit-content;
    height: 8em;
    display:flex;
    flex-direction: column;
    margin: 1rem;
    cursor: pointer;
  }
  .listed-category__image {
    background-image: var(--image-placeholder);
    width: 10em;
    height: 100%;
  }
  .listed-category__label {
    font-size: var(--font-x);
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: 0.2em;
    opacity: 0.9;
  }
  @media (max-width: 1024px) {
    .listed-category {
      width: fit-content;
      margin: 1em;
    }
    .listed-category__label {
      text-align: center;
    }
  }