.categories-listing {
    font-family: var(--font-family-to-read);
    line-height: var(--font-semi-header);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}

.listed-category {
    width: fit-content;
    display:flex;
    flex-direction: column;
    cursor: pointer;
  }
  .listed-category__image {
    width: 150px;
    height: 150px;
  }
  .listed-category__label {
    font-size: var(--font-x);
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: 0.2em;
  }
  @media (max-width: 767px) {
    .listed-category {
      width: fit-content;
    }
    .listed-category__label {
      text-align: center;
    }
  }