.confirmation-modal__button--danger {
    background-color: var(--color-error);
  }
  .confirmation-modal__button {
    margin: 1rem;
    padding: 1rem;
  }
  .confirmation-modal__header {
    text-align: center;
    margin: 1rem;
  
  }
  .confirmation-modal__overlay {
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 2;
  }
  .confirmation-modal {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    
    background-color: var(--color-white);
  }
  .confirmation-modal__text-section {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: var(--font-base);
    color: var(--color-error);
  }
  .confirmation-modal__button-section {
    display: flex;
    width: 100%;
  }