.edit-field {
    background-color: var(--color-grey-very-light);
    border-color: var(--color-white);
    border-style: solid;
    border-radius: 0.5rem;
    height: 10rem;
    width: 100%;
    resize: none;
    font-size: 1rem;
  }