
.footer__hr {
    width: 50%;
    border-color: var(--color-grey-very-light);
  }
  .footer__subscribe-input {
    background-color: var(--color-grey-very-light);
    border-style: none;
    border-radius: 0.2em;
    margin: 0.5em;
    margin-left: 0em;
    font-size: 1.5em;
    width: 100%;
    padding: 0.5em;
  }
  .footer__unsubscribe-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary-dark);
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--font-x);
    margin-top: 2rem;
  }
  .footer__subscribe-section {
    display: flex;
    align-items: center;
  }
  .footer__unsubscribe-button {
    color: var(--color-primary-dark);
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: var(--font-x);
    margin-top: 2rem;
  }
  .footer__subscribe-button {
  
    margin-top: 0px;
    height: 100%;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  
  .footer__newsletter-wrapper {
    width: 33%;
  }
  .footer__newsletter {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  }
  .footer__newsletter-header {
    text-align: center;
    color: var(--color-primary-dark);
    font-size: var(--font-header);
  }
  .footer {
    background-color: var(--color-primary-dark);
    background-image: var(--image-noise);
    width: 100%;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    flex-direction: column;
  }
  .footer__article-approval {
    margin: 1rem;

    font-weight: bold;
    text-decoration: underline;
  }
  
  @media (max-width: 767px) {
    .footer__newsletter-wrapper {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
    .footer__subscribe-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer__subscribe-input {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }