.header__hamburger-stroke {
  width: 3em;
  height: 0.5em;
  margin-top: 0.5em;
  background-color: var(--color-primary-dark);
  border-radius: 0.1em;
}
.header__hamburger-wrapper {
  flex-basis: 33%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0.5em;
}
.header__hamburger {
  width: 3em;
  height: 3em;
}
.header {
  background-color: var(--color-white);
  display: flex;
  height: 5vh;
  justify-content: space-between;
  color: var(--color-primary-dark);
  align-items: center;
  box-shadow: 0px 10px 10px var(--color-grey-light);
  padding: 1em;
}
.header__my-account {
  height: 2em;
  margin-top: -0.5em;
}


.header__title {
  flex-basis: 33%;
  margin-left: 1em;
}

.header a {
  text-decoration: none;
}
.header__logo {
  height: 30vh;
  width: 40vh;
  margin-top: 10vh;
  /* position: absolute; */
  z-index: 2;
  background: var(--image-logo);
  background-size: contain;
  background-repeat: no-repeat;
}
.header__logo-wrapper {
  background: var(--image-logo);
  height: 15vh;
  width: 40vh;
  margin-top: 10vh;
  background-size: 30vh 40vh;
  background-repeat: no-repeat;
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 10vw 45%;
  z-index: 2;
}
.header__nav-bar {
  flex-basis: 33%;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}
.header__nav-bar li {
  display: flex;
  align-items: center;
}

.header__link {
  color: var(--color-primary-dark);
}

.header__link:active {
  color: var(--color-primary-dark);
}

.header__menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 20vh;
  left: 0;
  background-color: var(--color-white);
}

.header__menu-navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 2em;

}

@media (max-width: 1024px) {
  .header__title {
    position: absolute;
    margin-bottom: 0px;
    margin-top: 5em;
  }
  .header {
    width: 100%;
    height: 20vh;
    padding: 0px;
    padding-bottom: 1rem;
    position: absolute;
  }

  .header__logo-wrapper {
    padding-right: 1.5rem;
    flex-basis: 45%;
  }
}