.header__hamburger-stroke {
  width: var(--hamburger-bar-width);
  height: var(--hamburger-bar-height);
  margin-top: var(--hamburger-bar-height);
  background-color: var(--color-primary-dark);
  border-radius: 0.1em;
}
.header__hamburger-wrapper {
  flex-basis: 33%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 0.5em;
}
.header__hamburger {
  width: var(--hamburger-bar-width);
  height: var(--hamburger-bar-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  background-color: var(--color-white);
  display: flex;
  height: 5vh;
  justify-content: space-between;
  color: var(--color-primary-dark);
  align-items: center;
  box-shadow: 0px 10px 10px var(--color-grey-light);
  padding: 1em;
}
.header__my-account {
  height: 2em;
  margin-top: -0.5em;
}


.header__title {
  flex-basis: 33%;
  margin-left: 1em;
}

.header a {
  text-decoration: none;
}
.header__logo {
  width: 270px;
  margin-left: 5vw;
  z-index: 2;
  height: 18vh;
}
.header__logo-wrapper {
  height: 15vh;
  width: 20vw;
  margin-top: 10vh;
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.header__nav-bar {
  flex-basis: 33%;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}
.header__nav-bar li {
  display: flex;
  align-items: center;
}

.header__link {
  color: var(--color-primary-dark);
}

.header__link:active {
  color: var(--color-primary-dark);
}

.header__menu {
  position: absolute;
  width: calc(100% - 1em);
  z-index: 10;
  top: calc(var(--header-mobile-height) + 1.5em);
  left: 0;
  background-color: var(--color-white);
  padding-left: 1em;
  scroll-behavior: smooth;
  height: 100vh;
}

.header__article-search-form {
  position: absolute;
  margin-top: -1.5em;
  left: 66vw;
  width: 33vw;
}

.header__article-search-input {
  margin: 0;
  padding: 0;
}

.header__article-search-icon {
  width: 1em;
  cursor: pointer;
  margin-top: 0.5em;
}

.header__menu-navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.header__menu-navbar--common-categories {
  padding-top: 0;
}

@media (max-width: 1024px) {
  .header__article-search-form {
    position: absolute;
    margin-top: -1.5em;
    left: 0.75em;
  }
  .header__title {
    position: absolute;
    margin-bottom: 0px;
    margin-top: 1em;
    z-index: 2;
  }
  .header {
    width: 100%;
    height: var(--header-mobile-height);
    padding: 0px;
    padding-top: 0.5em;
    padding-bottom: 1em;
    position: absolute;
    justify-content: space-between;
  }

  .header__hamburger-wrapper {
    margin-left: auto;
    margin-right: 1em;
  }

  .header__logo-wrapper {
    padding-right: 1.5rem;
    flex-basis: 25%;
    margin-top: 1rem;
    z-index: 0;
  }

  .header__logo {
    margin-left: 30vw;
  }
}