.listed-article {
    display: flex;
    margin-top: 2.5rem;
    font-family: var(--font-family-to-read);
    letter-spacing: 0.03em;
    height: 15rem;
  }
  .listed-article__author {
    color: var(--color-primary);
  }
  .listed-article__text {
    color: var(--color-grey);
    height: 15rem;
    overflow: hidden;
  }
  .listed-article__header {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--color-primary-dark);
    word-wrap: break-word;
  }
  .listed-article__image {
    margin-right: 1rem;
    background-image: var(--image-placeholder);

    /* cannot be just width, and height, since images will diverge from this value in listing anyway due to flexbox */
    min-height: 15rem;
    min-width: 25rem;
    max-height: 15rem;
    max-width: 25rem;
  }

  .listed-article__content {
    min-width: 0;
  }

  @media (max-width: 1024px) {
    .listed-article {
      flex-direction: column;
    }
    .listed-article__image {
      width: 100vw;
      height: 15rem;
      margin-left: -2em;
      margin-right: 0;
      min-width: 0;
    }
    .listed-article__header {
      margin-top: 0.5em;
      margin-bottom: 0;
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
    .listed-article__author {
      margin-bottom: 1em;
    }
}