.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.deleteForm{
    display: inline;
}
#map {
    height: 400px;
    width: 100%;
}

#whoopywoo {
    display:flex; 
    flex-wrap: wrap;
}

.loginTitle {
    text-align: center;
}

.loginDiv {
    width: 30%; 
    margin: 25px auto;
}