.button-primary {
  margin-top: 1rem;
  background-color: var(--color-primary-dark);
  border-style: none;
  border-radius: 0.2rem;
  color: var(--color-white);
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-size: var(--font-button);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.button-secondary {
  color: var(--color-primary-dark);
  background-color: transparent;
  border-style: none;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: var(--font-x);
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .button-primary {
    font-size: 1.5rem;
  }
}

.elastic-text {
  word-break: break-word;
}
.center-background {
  background-position: center;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.input {
  background-color: var(--color-grey-very-light);
  border-style: none;
  border-radius: 0.2em;
  margin: 0.5em;
  margin-left: 0em;
  font-size: 1.5em;
  width: 100%;
  padding: 0.5em;
}

.img-fit {
  object-fit: cover;
}

.input:-webkit-autofill::first-line {
  font-size: 1.5rem;
}
.text-read-friendly {
  font-family: var(--font-family-to-read);
  letter-spacing: 0.03em;
  line-height: 2.2em;
}

.common-category__link {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.common-category--very-common {
  font-weight: bold;
}

.common-category--common {
  font-weight: bold;

  color: var(--color-primary);
}

.common-category--uncommon {
  font-weight: normal;
  color: var(--color-primary);
}

.scroll {
  overflow: scroll;
}

.no-scroll {
  overflow: hidden;
}

.alert {
  padding-left: 1em;
  color: var(--color-white);

}

.alert > p {
  padding: 1em;
}

.notification-thing {
  width: 100%;
  z-index: 2000;
  position: absolute;
  top: calc(var(--header-mobile-height)+3.9em);
}

.alert-danger {
  background-color: var(--color-notification-error);
}

.alert-success {
  background-color: var(--color-notification-success);
}

.captcha {
  height: 4em;
}

@media (min-width: 1025px) {

  .mobile-only {
      display: none !important;
  }
  .tablet-only {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px)  {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .input {
    width: auto;
  }
  .desktop-only {
      display: none !important;
  }
  .tablet-only {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none !important;
  }
}


@media (min-width: 1025px)  {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (max-width: 769px)  {
  .hide-on-mobile {
    display: none !important;
  }
}