.top-stories {
    background-color:  var(--color-primary-dark);
    background-image: var(--image-noise);
    width: 100%;
    height: 50vh;
    padding-top: 4rem;

    /* TODO: REMOVE ONCE ARTICLE IMAGES WILL BE IMPLEMENTED */
    background-color: var(--color-white);
    background-image: initial;
    height: 0;
  }
  
  .top-stories__title {
    
    color:  var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: var(--font-semi-header);
    display: var(--articles-pictures-visibility);
  }
  
  .top-stories__articles-borwser {
    display: flex;
    justify-content: center;
    display: var(--articles-pictures-visibility);
  }
  
  
  .top-stories__article-card {
    background-image: var(--image-placeholder);
    width: 20rem;
    height: 15rem;
    display: flex;
    margin: 2rem;
  }
  
  .top-stories__article-card-label {
    background-color: var(--color-white);
    align-self: flex-end;
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--color-primary-dark)
  }
  @media (max-width: 1024px) {
    .top-stories {
      height: auto;
      background: transparent;
    }
    .top-stories__header {
      color: var(--color-primary-dark);
    }
    .top-stories {
      padding-top: 0;
    }
  }