.top-stories {
    background-color:  var(--color-primary-dark);
    background-image: var(--image-noise);
    width: 100%;
    height: 50vh;
    padding-top: 4rem;
  }
  
  .top-stories__title {
    color:  var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: var(--font-semi-header);
  }
  
  .top-stories__articles-borwser {
    display: flex;
    justify-content: center;
  }
  
  
  .top-stories__article-card {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 2rem 3rem;
    width: 20rem;
    align-items: center;
    cursor: pointer;
  }

  .top-stories__article-image {
    background-image: var(--image-placeholder);
    width: calc(20rem + 2em);
    height: 15rem;
  }
  
  .top-stories__article-card-label {
    background-color: var(--color-white);
    width: 20rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--color-primary-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    padding: 0 1em 0 1em;
  }
  @media (max-width: 1024px) {
    .top-stories {
      height: auto;
      background: transparent;
    }
    .top-stories__header {
      color: var(--color-primary-dark);
    }
    .top-stories {
      padding-top: 0;
    }
  }