<div class='login'>
  <div class='login__input-section'>
    <h1 class='login__header'>Login</h1>

      <input class='input' placeholder='Username'></input>
      <input class='input' placeholder='Password'></input>
      <img src='/captcha' />
      <input class='input' type='captcha' name='captcha' placeholder='captcha' autocomplete='off' required>

      <button class='button-primary'>Proceed</button>
  </div>
</div>

<style>
  .login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .login__header {
    color: var(--color-primary-dark);
  }
  .login__input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>


