<h1>Edit article</h1>
<textarea class='article-edit__text-edit' placeholder='Write here...'></textarea>
<div class='article-edit__uplo'></div>
<div class='article-edit__advanced-actions'>
  <div w3-include-html="desktop/views/article-edit/image-upload.html"></div>
  <div w3-include-html="desktop/views/article-edit/category-selector.html"></div>
</div>

<div class='article-edit__buttons'>
  <button class='button-primary article-edit__button'>Accept</button>
  <button class='button-primary article-edit__button article-edit__delete' onclick='toggleModal()'>Delete</button>
  
</div>

<h1>Preview</h1>
<div>MARKDOWN RENDER</div>
<div w3-include-html="shared/confirmation-modal.html"></div>
<style>
  .article-edit__buttons {
    display: flex;
    justify-content: space-evenly;
  }
  .article-edit__button {
    margin: 2rem;
  }
.article-edit__advanced-actions {
  display: flex;
  justify-content: space-evenly;
}
.article-edit__delete {
  background-color: var(--color-error);
}

.article-edit__text-edit {
  background-color: var(--color-grey-very-light);
  border-color: var(--color-white);
  border-style: solid;
  border-radius: 0.5rem;
  height: 30rem;
  width: 100%;
  resize: none;
}
</style>