<div class='articles-listing'>
  <div w3-include-html="desktop/views/articles-listing/top-article.html"></div>
  <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
  <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
  <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
  <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
  <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
</div>

<style>
.articles-listing {
  font-family: var(--font-family-to-read);
  line-height: var(--font-semi-header);
  display: flex;
  flex-direction: column;
}
</style>


