<div class='categories-listing'>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>

  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>

  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
  <div w3-include-html="desktop/views/categories-listing/listed-category.html"></div>
</div>

<style>
.categories-listing {
  font-family: var(--font-family-to-read);
  line-height: var(--font-semi-header);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
</style>


