<link rel="stylesheet" href="/stylesheets/author-panel.css">
<a class='author-panel' href='/authors/<%=author.link%>'>
    <img class='author-panel__author-image' src="/image/<%=author.link%>"/>
    <div class='author-panel__author-name'><%= author.fullname %></div>
    <div class='author-panel__author-phrase'><%= author.motto %></div>
</a>
