<link rel="stylesheet" href="/stylesheets/author-panel.css">
<a class='author-panel' href='/authors/<%=author.link%>'>
    <%- include(`../../../ssrUtils/responsiveImage`, {
        url: `/image/${author.link}`,
        imageSizes: [400, 100, 100, 100],
        classList: 'author-panel__author-image',
        data: null,
        id: null
      }) %>
    <div class='author-panel__author-name'><%= author.fullname %></div>
    <div class='author-panel__author-phrase'><%= author.motto %></div>
</a>
