<div class='comments-section'>
    <%- include("./edit-field") %>
    <button class='button-primary'>Post</button>
    <%- include("../../partials/comment") %>
    <%- include("../../partials/comment") %>
    <%- include("../../partials/comment") %>
    <button class='button-primary'>Load more</button>
  </div>
  <link rel="stylesheet" href="/stylesheets/comment-section">