<link rel="stylesheet" href="/stylesheets/comment-section.css">
<div class='comments-section'>
    <% if(currentUser) { %>
        <form action="/articles/<%= article.link %>/comments" method="POST">
            <textarea class='edit-field' type="text" name="comment[text]" placeholder='Write here...' minlength="1" maxlength="1000" required></textarea>
            <button class='button-primary'>Post</button>
        </form>
    <% } %>
    <% article.comments.forEach(comment => { %>
        <%- include("../../partials/comment", {comment}); %>
    <% }) %>
    <button class='button-primary'>Load more</button>
</div>
 