<link rel="stylesheet" href="/stylesheets/article-page-content.css">
<%- include("./author-panel") %>
<div class='text-read-friendly article__text'>
<%= article.body %>
</div>
<% if(currentUser && currentUser.isAdmin && isReviewing) {%>
    <form action="/articles/approve/<%= article._id%>" method="POST">
        <button class='button-primary article__approve-button'>Approve</button>
    </form>
<% } %>