<link rel="stylesheet" href="/stylesheets/recommended-article.css">
<div class='recommended-article'>
  <%- include(`../../../ssrUtils/responsiveImage`, {
    url: `/articles/image/${article.link}`,
    checksum: article.checksum,
    imageSizes: [490, 569, 569, 612],
    classList: 'recommended-article__image cursor-change center-background img-fit',
    data: article.link,
    id: null
  }) %>
  <a href="/articles/<%= article.link %>">
    <h2 class='listed-article__header'><%= article.title %></h2>
  </a>
  <div class='recommended-article__text'>
   <%=article.description%>
    <!-- If the text is too long, EJS should put "..." at the end and cut the text. -->
  </div>
  </div>
 