<div class='recommended-article'>
    <div class='recommended-article__image'>
  
    </div>
    <h2 >
      Article title
    </h2>
    <div class='recommended-article__text'>
      Praesent ut velit ac arcu rhoncus tristique commodo et nibh. Cras a dolor fermentum, fringilla augue at, lobortis nisl. Vivamus maximus mattis metus, id fermentum neque bibendum in. Nulla ultricies luctus elit et vulputate...
      <!-- If the text is too long, EJS should put "..." at the end and cut the text. -->
    </div>
  </div>
  <link rel="stylesheet" href="/stylesheets/recommended-article.css"