<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new"> Add New Campground</a>
        </p>
        <p>
            <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                <div class="form-group">
                <input type="text" name="search" placeholder="Campground search..." class="form-control">
                </div>
            </form>
        </p>
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(cGround => { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= cGround.image %>">
                <div class="caption">
                    <h4> <%= cGround.name %></h4>
                </div>
                <p>
                    <a class="btn btn-primary" href="/campgrounds/<%= cGround._id %>">More Info</a>
                </p>
            </div>
        </div>
    <% }) %>
</div>
<% include ../partials/footer %>