<div class='author-profile'>
  <div class='author-profile__image'>

  </div>

  <div w3-include-html="desktop/views/author-profile/page-title.html"></div>
  <h2 class='author-profile__catchphrase'>I make code sparkle</h2>
  <h4 class='author-profile__social-networks-header'>Find me on</h4>
  <div class='author-profile__social-networks'>
    <div w3-include-html="desktop/views/author-profile/social-network.html"></div>
    <div w3-include-html="desktop/views/author-profile/social-network.html"></div>
    <div w3-include-html="desktop/views/author-profile/social-network.html"></div>
  </div>
  <div class='author-profile__about-me'>
    Maecenas eu velit vitae nisi blandit placerat. Curabitur auctor dolor id dolor elementum malesuada. Aliquam erat volutpat. Integer eget leo faucibus, fringilla dolor eu, maximus lorem. Donec ultrices sollicitudin purus, ac aliquam erat fermentum in. Nam a convallis diam, eu ullamcorper leo. Aliquam erat volutpat. Pellentesque eu mi id quam porta finibus ac id sem. In mollis magna et tortor aliquam commodo. 
    orem ipsum. Praesent eu tortor velit. Suspendisse 
  </div>
  <h2 class='author-profile__articles-header'>Author's articles</h2>
  <div class='author-profile__articles'>
    <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
    <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
    <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
    <div w3-include-html="desktop/views/articles-listing/listed-article.html"></div>
  </div>
  
</div>

<style>
  .author-profile__articles-header {
    font-size: 2rem;
  }
  .author-profile__catchphrase {
    margin-top: 1rem;
    color: var(--color-grey);
  }
  .author-profile__articles {
    width: 100%;
  }
  .author-profile__about-me {
    margin-top: 1rem;
    font-family: var( --font-family-to-read);
    line-height: var(--font-semi-header);
  }
  .author-profile__social-networks-header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .author-profile__social-networks {
    display: flex;
    margin-bottom: 1rem;
  }
  .author-profile {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .author-profile__image {
    border-radius: 100%;
    background-image: var(--image-placeholder);
    width: 15rem;
    height: 15rem;
    margin: 2rem;
    flex-shrink: 0;
  }

  @media (max-width: 1024px) {
    .author-profile__catchphrase {
      text-align: center;
      width: 100%;
    }
  }
</style>


