<%- include ("../partials/header") %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to Russia!</h1>
        <p>View our hand-picked articles from all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/articles/new"> Add New Article</a>
        </p>
        <p>
            <form action="/articles" method="GET" class="form-inline" id="article-search">
                <div class="form-group">
                <input type="text" name="search" placeholder="Article search..." class="form-control">
                </div>
            </form>
        </p>
    </div>
</header>
<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% articles.forEach(article => { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h4> <%= article.name %></h4>
                </div>
                <p>
                    <a class="btn btn-primary" href="/articles/<%= article._id %>">More Info</a>
                </p>
            </div>
        </div>
    <% }) %>
</div>
<%- include ("../partials/footer") %>