<div class='author-entry'>
    <div><img class='author-entry__image' src="/image/<%=author.username%>"/></div>
    <div class='author-entry__content'>
      <h2 class='author-entry__name'><%=author.fullname%></h2>
      <div class='author-entry__bio'><%=author.bio%></div>
      <button class='button-primary author-entry__button'>View profile</button>
    </div>
  </div>
  <link rel="stylesheet" href="/stylesheets/author-entry.css">