<div class='authors'>
    <h1 class='authors__header'>Core authors</h1>
    <% if(authors) { %>
      <% authors.forEach(author => { %>
        <%- include("./author-entry", {author}); %>
      <% }) %>
    <% } %>
    <h1 class='authors__header'>Guest authors</h1>
    <% if(authors) { %>
      <% authors.forEach(author => { %>
        <%- include("./author-entry", {author}); %>
      <% }) %>
    <% } %>
  </div>
  <link rel="stylesheet" href="/stylesheets/author-page-content.css">