<link rel="stylesheet" href="/stylesheets/confirmation-modal.css">


<div id='confirmation-modal__overlay' class='confirmation-modal__overlay hidden'>
<div id='confirmation-modal' class='confirmation-modal hidden'>
    <h1 class='confirmation-modal__header'>
    Are you sure?
    </h1>

    <div class='confirmation-modal__text-section'>
    This action is irreversible
    </div>

    <div class='confirmation-modal__button-section'>
    <button id='confirmation-modal__proceed' class='button-primary confirmation-modal__button confirmation-modal__button--danger'>Proceed</button>
    <button id='confirmation-modal__cancel' class='button-primary confirmation-modal__button'>Cancel</button>
    </div>
</div>
</div>