<hr class='footer__hr'/>
<div class='footer__newsletter'>
  <div class='footer__newsletter-wrapper'>
    <h2 class='footer__newsletter-header'>Newsletter</h2>
    <div class='footer__subscribe-section'>
      <input class='footer__subscribe-input' placeholder='myemail@mail.com'></input>
      <button class='button-primary footer__subscribe-button'>Subscribe</button>
    </div>
    
    
    <button class='footer__unsubscribe-button'>Unsubscribe</button>
  </div>
</div>

<div class='footer'>
All rights reserved 2020
</div>
<link rel="stylesheet" href="/stylesheets/footer.css">