<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Michael forgot a title</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/shared-classes.css" />
    <link rel="stylesheet" href="/stylesheets/general-page-styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.css" integrity="sha512-ShLuspGzRsTiMlQ2Rg0e+atjy/gVQr3oYKnKmQkHQ6sxcnDAEOtOaPz2rRmeygV2CtnwUawDyHkGgH4zUbP3Hw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<div class="header">
    <h2 class="header__title">Pinch of Code</h2>
    <div class="header__logo-wrapper">
        <img class="header__logo" src="assets/logo.svg">
    </div>
    <ul class="header__nav-bar desktop-only">
        <li><h3><a href="/">Home</a></h3></li>
        <li><h3><a href="/categories">Categories</a></h3></li>
        <li><h3><a href="/authors">Authors</a></h3></li>
        <li><a href="/login"><img class="header__my-account" src="assets/account.svg"></a></li>
    </ul>
    <div class="header__hamburger-wrapper mobile-only">
        <div class='header__hamburger'>
            <div class='header__hamburger-stroke'></div>
            <div class='header__hamburger-stroke'></div>
            <div class='header__hamburger-stroke'></div>
          </div>
    </div>
</div>