<div class='error-page'>
    <div class='error-page__code'><%= code || 404 %></div>
    <div class='error-page__text'><%= msg || Opps... There's nothing here %></div>
</div>
<link rel="stylesheet" href="/stylesheets/error-page.css">