<%- include("../partials/header") %>
<title><%=title%></title>
<div class='page__center'>
    <div class='page__view'>
        <div class='page__content'>
        <div class='login'>
            <div class='login__input-section'>
                <h1 class='login__header'>Login</h1>
                <form action="/login" method="post">
                    <input class='input' placeholder='Username' name="username" type="text" required minlength="6" maxlength="14"></input>
                    <input class='input' placeholder='Password' name="password" type="password" required minlength="8" maxlength="16"></input>
                    <img src="/captcha" />
                    <input class='input' type='captcha' name='captcha' placeholder='captcha' autocomplete='off' required>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class='button-primary'>Proceed</button>
                </form>
                <a href='/register'><button class='button-secondary'>No account? Register here</button></a> 
            </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/stylesheets/login.css">
<%- include("../partials/footer") %>