<%- include("../partials/header") %>
<title>Unsubscribe</title>
<form method="POST" action="/unsubscribe">
    <label>Your email</label>
    <input class="input" type="text" name="email" placeholder="My email..." required />
    <button class="button-primary">Unsubscribe</button>
</form>
<%- include("../partials/footer") %>