<div class='confirmation-modal__overlay hidden'>
<div class='confirmation-modal'>
    <h1 class='confirmation-modal__header'>
    Are you sure?
    </h1>

    <div class='confirmation-modal__text-section'>
    This action is irreversible
    </div>

    <div class='confirmation-modal__button-section'>
    <button class='button-primary confirmation-modal__button confirmation-modal__button--danger' onclick='approveModal()'>Proceed</button>
    <button class='button-primary confirmation-modal__button' onclick='toggleModal()'>Cancel</button>
    </div>
</div>
</div>