<div class='right-panel desktop-only'>
    <div class='right-panel__common-categories'>
      <h2 class='right-panel__common-categories-header'>Common categories</h2>
      <ul>
        <% if(commonCategories) { %>
          <% commonCategories.forEach((category, index) => { %>
            <li class="common-category">
                <% if(index < 3) {  %>
                    <h3 class='common-category__link common-category--very-common'>
                <% } else if (index < 6) {%>
                    <h3 class='common-category__link common-category--common'>
                <% } else {%>
                    <h3 class='common-category__link common-category--uncommon'>
                <% } %>
                    <a class="header__link" href="/?category=<%=category.key%>"><%=category.displayValue%></a>
                </h3>
            </li>
          <% }) %>
        <% } %>
      </ul>
    </div>
  </div>