<div class='right-panel desktop-only'>
    <div class='right-panel__common-categories'>
      <h2 class='right-panel__common-categories-header'>Common categories</h2>
      <ul>
        <% if(commonCategories) { %>
          <% commonCategories.forEach(category => { %>
              <li onclick="window.location.href='/?category=<%=category.key%>'"><%=category.displayValue%></li>
          <% }) %>
        <% } %>
      </ul>
    </div>
  </div>