<div class='right-panel desktop-only'>
    <div class='right-panel__about-us'>
      <h2 class='right-panel__about-us-header'>About us</h2>
      <div class='right-panel__about-us-picture'></div>
      <div class='right-panel__about-us-text'> We are group of friends joined by passion to programming. Aenean fermentum turpis non quam dignissim dictum. Praesent commodo magna at lectus tempor laoreet. Fusce fringilla et ligula vitae venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. </div>
    </div>
    <div class='right-panel__common-categories'>
      <h2 class='right-panel__common-categories'>Common categories</h2>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>C++</li>
        <li>V8</li>
      </ul>
    </div>
  </div>