<div class='right-panel desktop-only'>
    <div class='right-panel__common-categories'>
      <h2 class='right-panel__common-categories-header'>Common categories</h2>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>C++</li>
        <li>V8</li>
      </ul>
    </div>
  </div>