<div class='register'>
  <div class='register__input-section'>
    <h1>Register</h1>

      <input class='input' placeholder='Username'></input>
      <input class='input' placeholder='Email'></input>
      <input class='input' placeholder='Password'></input>
      <input class='input' placeholder='Repeat Password'></input>
      <img src='/captcha' />
      <input class='input' type='captcha' name='captcha' placeholder='captcha' autocomplete='off' required>
      <button class='button-primary'>Proceed</button>
  </div>
</div>

<style>
  .register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .register__input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>


