
<div class='author-panel'>
    <div class='author-panel__author-image'></div>
    <div class='author-panel__author-name'>Michael Kurowski</div>
    <div class='author-panel__author-phrase'>I make code shine</div>
</div>

<style>
.author-panel {
  width: 20rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 4rem);
  position: absolute;
  margin-left: -20rem;
  align-items: center;
}
.author-panel__author-name {
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1em;
}
.author-panel__author-phrase {
  text-align: center;
}
.author-panel__author-image {
  border-radius: 100%;
  background-image: var(--image-placeholder);
  width: 100px;
  height: 100px;
  margin: 2rem;
}
</style>