<div class='page__header article__header'>
  <div class='page__name-wrapper'>
    <h1 class='page__name'>Page name</h1>
    <div w3-include-html="shared/edit-icon.html"></div>
  </div>
  
  <div class='article__date'>10 January 2020</div>
</div>

<style>
  .article__date {
    margin: 0.5rem;
    color: var(--color-grey);
    font-weight: bold;
  }
  .article__header {

    margin-top: 3rem;
  }

  @media (max-width: 1024px) {
    .article__header {
      margin-top: 0;
      display: flex;
      justify-content: center;
    }
    .page__name-wrapper {
      margin-right: -1rem;
      
    }
  }
  
</style>