<link rel="stylesheet" href="/stylesheets/article-listing/page-content.css"> 
    <div class='articles-listing'>
    <% if(isReviewing && articles.length) { %>
        <% articles.forEach((article, i) => { %>
            <% if(!article.isApproved) { %>
                <%- include('./listed-article', {article, isReviewing}); %>
            <% } %>
        <% }) %>
    <% } else if (articles.length) { %>
        <%- include("./top-article", {article: articles.filter(article => article.isApproved).reverse()[0]}) %>
        <div class='articles-listing__wrapper'>
            <div class='articles-listing__listed-articles-wrapper'>
                <% articles.filter(article => article.isApproved).reverse().forEach((article, i) => { %>
                    <% if(i !== 0) { %>
                        <%- include('./listed-article', {article, isReviewing}); %>
                    <% } %>
                <% }) %>
            </div>
            <%- include('../../partials/right-panel.ejs', {commonCategories}); %>
        </div>
    <% } %>
    <button class="button-primary articles-listing__load-more-button">Load more</button>
</div>


