<link rel="stylesheet" href="/stylesheets/article-listing/page-content.css"> 
<div class='articles-listing'>
    <% if(isReviewing) { %>
        <% articles.forEach(article => { %>
            <% if(!article.isApproved) { %>
                <%- include('./listed-article', {article, isReviewing}); %>
            <% } %>
        <% }) %>
    <% } else { %>
        <%- include("./top-article") %>
        <% articles.forEach(article => { %>
            <% if(article.isApproved) { %>
                <%- include('./listed-article', {article, isReviewing}); %>
            <% } %>
        <% }) %>
    <% } %>
</div>