<link rel="stylesheet" href="/stylesheets/article-listing/page-content.css"> 
<div class='articles-listing'>
    <% if(isReviewing) { %>
        <% articles.forEach((article, i) => { %>
            <% if(!article.isApproved) { %>
                <%- include('./listed-article', {article, isReviewing}); %>
            <% } %>
        <% }) %>
    <% } else { %>
        <%- include("./top-article", {article: articles[0]}) %>
        <% articles.forEach((article, i) => { %>
            <% if(article.isApproved && i !== 0) { %>
                <%- include('./listed-article', {article, isReviewing}); %>
            <% } %>
        <% }) %>
    <% } %>

    <button class="button-primary articles-listing__load-more-button">Load more</button>
</div>
<script src="/scripts/imageClicker.js"></script>
