<div class='articles-listing'>
    <!-- EJS GOES HERE TO LIST OUT THE ARTICLES -->
    <%- include("./top-article") %>
    <% articles.forEach(article => { %>
        <% if(article.isApproved) { %>
            <%- include('./listed-article', {article}); %>
        <% } %>
    <% }) %>
</div>
<link rel="stylesheet" href="/stylesheets/article-listing-page-content.css"> 