<div>
    <h3>Select a category</h3>
    <select name="category" required>
       <% categories.forEach(category => { %>
        <option value="<%=category.key%>"><%=category.displayValue%></option>
       <% }) %>
    </select>
</div>