<div class='authors'>
  <h1 class='authors__header'>Core authors</h1>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <h1 class='authors__header'>Guest authors</h1>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
</div>

<style>
.authors {
  font-family: var(--font-family-to-read);
  line-height: var(--font-semi-header);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .authors__header {
    text-align: center;
    color: var(--color-primary);
    font-size: var(--font-semi-header);
  }
}
</style>


