<div class='authors'>
  <h1>Core authors</h1>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <h1>Guest authors</h1>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
  <div w3-include-html="desktop/views/authors/author-entry.html"></div>
</div>

<style>
.authors {
  font-family: var(--font-family-to-read);
  line-height: var(--font-semi-header);
  display: flex;
  flex-direction: column;
}
</style>


