<%- include ("./partials/header") %>
<div class="row">
    <h1 class="text-center">Sign Up</h1>
    <div class="loginDiv">
        <form action="/register" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="E-Mail" required>
            </div>
            <div class="form-group">
                <img src="/captcha" />
                <input class="form-control" type="captcha" name="captcha" placeholder="captcha" autocomplete="off" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            </div>
        </form>
        <a href="/articles">Go Back</a>
    </div>
</div>
<%- include ("./partials/footer") %>