
<a href='/?category=<%=category.key%>' class='listed-category'>
    <%- include(`../../../ssrUtils/responsiveImage`, {
        url: `${category.imageUrl}`,
        imageSizes: [400, 160, 160, 160],
        classList: 'listed-category__image cursor-change center-background img-fit',
        data: category.imageUrl,
        id: null
      }) %>
    <div class='listed-category__label'><%=category.displayValue %></div>
</a>