
<a href='/?category=<%=category.key%>' class='listed-category'>
    <img class='listed-category__image' src='/articles/image/<%=category.imageUrl%>'>
    <div class='listed-category__label'><%=category.displayValue %></div>
</a>