<div class="categories-listing">
    <% if(categories) { %>
        <% categories.forEach(category => { %>
            <%- include("./listed-category", {category}) %>
        <% }) %>
    <% } else { %>
        No categories found...
    <% } %>
</div>